.inventory-text {
    font-size: 25px;
    font-weight: 700;
    color: #000000;
}

.category-box{
    width: 550px;
    height: 157px;
    margin-left: 450px;
}
.category-text{
    color: #000000;
    font-size: 20px;
    font-weight: 700;
    margin-left: 10px;
}
.category-btns{
    width: 100px;
    height: 50px;
    border-radius: 15px;
    border: 3px solid #464667;
    color: #000000;
    font-size: 20px;
    font-weight: 700;
}
